<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View\Attributes">
        <plugin name="spaggel_tooltips" type="Spaggel\Tooltip\Plugin\Catalog\Product\View\AttributesPlugin"/>
    </type>
    <type name="Magento\ConfigurableProduct\Model\ConfigurableAttributeData">
        <plugin name="spaggel_tootlips" type="Spaggel\Tooltip\Plugin\ConfigurableProduct\ConfigurableAttributeDataPlugin"/>
    </type>
    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable" type="Spaggel\Tooltip\Block\Swatches\Product\Renderer\Configurable"/>
</config>
