<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="product_attribute_form_build_main_tab">
        <observer name="add_tooltip_field_to_attribute" instance="Spaggel\Tooltip\Observer\AddTooltipToAttributeObserver" />
    </event>
    <event name="catalog_entity_attribute_save_after">
        <observer name="spaggel_tooltip" instance="Spaggel\Tooltip\Observer\StoreTooltipsObserver" />
    </event>
</config>
